/* ======================== НАШИ КЛИЕНТЫ ====================== */
.our-clients {
  padding-top: 94px;
}
.client-list {
  margin-top: 50px;
  display: flex;
}

.client-item {
  margin-right: 30px;
}

.client-item:nth-child(6) {
  margin-right: 0;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  color: var(--icon-company-fill);

  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;

  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-function);
}

.client-icon {
  fill: currentColor;
}

.client-link:hover,
.client-link:focus {
  color: var(--text-colot-accent);
  border: 1px solid var(--btn-color-social-focus);
  cursor: pointer;
}
