/* ========================HEADER====================== */

/* щоб не робити ще один div зробив флексом цей контейнер, щоб вирівняти по висоті весь вміст футера */
.header .container {
  display: flex;
  align-items: center;
}

.header {
  background-color: var(--text-color-alt);
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  align-items: center;
}

.header-nav-item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  color: var(--logo-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}
.logo-accent {
  color: var(--text-colot-accent);
}

.header-nav-link,
.header-contacts {
  color: var(--text-color-main);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-nav-link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-function);
}

.header-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-nav-link:focus,
.contacts-link:focus,
.header-nav-link:hover,
.contacts-link:hover {
  color: var(--text-colot-accent);
  cursor: pointer;
}

.current-page {
  color: var(--text-colot-accent);
  position: relative;
}

.current-page::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -33px;

  width: 100%;
  height: 4px;
  background-color: var(--btn-color-social-focus);
  border-radius: 2px;
}

.contacts-link {
  color: var(--text-color-secondary);

  display: flex;
  align-items: center;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-function);
}

.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.icon-smartphone,
.icon-envelope {
  margin-right: 10px;
  fill: currentColor;
}
